[alias]
	ci = commit
	co = checkout
	st = status -sb
	br = branch
	aa = add --all
	amend = commit --amend --no-edit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	wdiff = diff --word-diff
	cdiff = diff --cached
	wshow = show --word-diff
	pr = pull -r
	dsf = diff --color

[core]
	editor = vim
	pager = "diff-so-fancy | less --tabs=4 -RFXS"

[interactive]
	diffFilter = "diff-so-fancy --patch"
[pager]
	show = "diff-so-fancy | less --tabs=1,5 -RFXS"

[color]
	ui = auto

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[diff-so-fancy]
	markEmptyLines = false

[push]
	default = simple

[url "git@github.com:"]
	insteadOf = https://github.com/

[init]
	defaultBranch = main

[includeIf "gitdir:~/Repositories/tw/"]
    path = .gitconfig-tw
[includeIf "gitdir:~/Repositories/personal/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/Repositories/client/"]
    path = .gitconfig-client
