[alias]
	ci = commit
	co = checkout
	st = status -sb
	br = branch
	aa = add --all
	amend = commit --amend --no-edit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	wdiff = diff --word-diff
	cdiff = diff --cached
	wshow = show --word-diff
	pr = pull -r
[core]
	editor = vim
[color]
	ui = auto
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main

[includeIf "gitdir:~/Repositories/tw/"]
    path = .gitconfig-tw
[includeIf "gitdir:~/Repositories/personal/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/Repositories/client/"]
    path = .gitconfig-client
